---
layout: page
type: blog
---

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
        <header>
            <h1>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>
            </h1>
            <p class="meta">
                {{page.author | default: "Ume no Hana"}} - {{ post.date | date: "%d/%m/%Y" }}
            </p>
        </header>
        {% if post.thumbnail %}
        <div class="row excerpt">
            <div class="col-7">
                {{ post.excerpt | strip_html | escape }}
            </div>
            <div class="col-5">
                <a href="{{ post.url | relative_url }}">
                    <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
                </a>
            </div>
        </div>
        {% else %}
        <div class="excerpt">
            {{ post.excerpt | strip_html | escape }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}

<nav>
    <ul class="pagination">

            {% if paginator.previous_page %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">
                    <i class="fa fa-chevron-left"></i> Más recientes
                </a>
            </li>
            
            {% endif %}

            <span style="flex: 1 1 auto;"></span>
    
    
            {% if paginator.next_page %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">
                    Más antiguas <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            {% endif %}

    </ul>
</nav>
{% endif %}